*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.background{
    width: 70%;
    height: 90vh;
    margin: 5vh auto;
    background-image: radial-gradient(ellipse closest-side at 50%, orange 30%, rgb(0, 122, 128) 100%, white 150%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#password{
    color:#fff;
}

#funny{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#funny h2{
    text-align: center;
    color:#fff;
}

button{
    padding: 7px 10px;
    background-color: lightcoral;
    color:#fff;
}

#password_bad, #password_good{
    font-size:40px;
    color:red;
    visibility:hidden;
}

